<div class="nested-form-wrapper" data-new-record="<%= form.object.new_record? %>">
  <div class="flex space-x-12">
    <div class="flex w-[200px] flex-col my-5">
      <%= render TextFieldComponent.new(form:, field: :assignee_id) %>
    </div>

      <div class="flex w-full flex-col my-5">
      <%= render TextFieldComponent.new(form:, field: :task_name, options: { autofocus: true }) %>
    </div>
  </div>

  <div class="flex flex-col pt-5 pb-12">
    <%= render TextFieldComponent.new(form:, field: :description, options: { type: :textarea, data: { controller: 'textarea-autogrow' } }) %>
  </div>

  <!-- FIXME: DRY and move to ViewComponent -->
  <div data-controller='range'>
    <%= form.text_field :progress,
                        type: :range,
                        class: 'range range-error',
                        min: 0, max: 100, step: 25, value: 25,
                        data: { action: 'range#update' } %>
    <div class="w-full flex justify-between text-xs px-2">
      <span>Didn't start</span>
      <span>Just started</span>
      <span>Halfway there</span>
      <span>Almost finished</span>
      <span>Done!</span>
    </div>
  </div>

  <div class="flex space-x-12">
    <%= render RadioButtonComponent.new(form:, field: :priority, items: @priorities) %>
  </div>

  <%= render TextFieldComponent.new(form:, field: :due_date, options: { type: :date }) %>

  <%= render ButtonComponent.new(options: { label: action_model(:destroy, Task), colour: :red, data: { action: 'nested-form#remove' } }) %>
</div>
