<!DOCTYPE html>
<html class='h-screen box-border'>
  <head>
    <title>TꙨDꙨ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'tailwind', 'inter-font', "data-turbo-track": 'reload' %>
    <%= stylesheet_link_tag 'application', "data-turbo-track": 'reload' %>

    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class='mx-auto max-w-7xl text-black antialiased'>
    <%= render NavBarComponent.new logo: 'shared/logo',
                                   items_left: [{ 'Dashboard' => dashboard_path, 'Teams' => teams_path }],
                                   items_right: [{ 'Settings' => edit_user_registration_path, 'Logout' => destroy_user_session_path }] %>

    <header class="bg-white shadow">
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
        <h1 class="text-3xl font-bold tracking-tight text-gray-900"><%="#{controller_name.humanize} #{DateTime.now}" %></h1>
      </div>
    </header>

    <main>
      <div class="h-16 flex justify-center items-center">
        <%= render 'shared/flash' %>
      </div>

      <section class="min-h-[calc(100vh-16rem)] rounded-lg bg-white shadow mx-auto p-5">
        <%= yield %>
      </section>
    </main>
  </body>
</html>
